<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible", content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}"> 
    <script src="https://kit.fontawesome.com/6b6a557c25.js" crossorigin="anonymous"></script>
</head>
<body>
</div id="header"> 
    <div class="container">
        <form method="post" enctype="multipart/form-data" action="/potato_pred1">
            <label>Upload the image </label>
            <input type="file" name="uploaded-file"> </input>
            <button type="submit">submit</button>
        </form>
       <!--  <form method="post" enctype="multipart/form-data" action="/potato_pred1">
            <button type="submit">Predict</button>
        </form>   -->

    </div>

</div>